
@using MyEndProjectCode.ViewModels
@model LayoutVM


<header>
        <div  class="main">


            <div class="tophead">
                <div class="wrappertophead">
                    <a class="mail sosials" href="" ><i style="margin-right: 5px;" class="bi bi-envelope foot-icon"></i><span class="mt">toghrulkhs@code.edu.az</span></a>
                    <a  class="tel sosials" href="#" ><i class="bi bi-telephone-fill foot-icon"></i><span class="mt">+994704020707</span></a>
                </div>
                <div class="sosial">
                    <a class="sosials" href="login.html" class="p-2 pl-0"><span class="login">LOG IN</span></a>
                    <a class="sosials" href="register.html" class="p-2 pl-0"><span class="login">SIGN UP</span></a>
                    <a  class="sosials" href="#" ><i class="fa-brands fa-square-twitter"></i></a></a>
                    <a  class="sosials" href="#" ><i class="fa-brands fa-square-facebook"></i></a>
                    <a  class="sosials" href="#" ><i class="fa-brands fa-linkedin"></i></a>
                    <a  class="sosials" href="#" ><i class="fa-brands fa-instagram"></i></a></a>


                </div>
            </div>
          
            <div class="menu-wrap">
              <input type="checkbox" class="toggler">
              <div class="hamburger"><div></div></div>
              <div class="menu">
                <div>
                  <div>
                    <ul>
                      <li><a href="./index.html">Home</a></li>
                      <li><a href="./about.html">About</a></li>
                      <li><a href="./shop.html">Shop</a></li>
                      <li><a href="./blog.html">Blog</a></li>
                      <li><a href="./contact.html">Contact</a></li>
                      <li><a href="login.html">Login</a>/<a href="register.html">Sign up</a></li>
                      <li class="basket">
                        <a class="basket-nav" href="#contact-section">
                          <span><i class="fas fa-shopping-basket basket "></i></span>
                        </a>
                      </li>

                    </ul>
                  </div>
                </div>
              </div>
            </div>
           
            <div class="wrapper">
                <nav class="nav">
                    <div class="logo"><a href="index.html"><img src="https://www.ncodetechnologies.com/zooy/images/logo.png" alt=""></a> </div>
                    <div class="navdiv">
                    <ul class="navul">
                        <li class="navli"><a class="nava" href="./index.html">HOME</a></li>
                        <li  class="navli"><a class="nava" href="./about.html">ABOUT</a></li>
                        <li  class="navli"><a class="nava" href="./shop.html">SHOP</a></li>
                        <li  class="navli"><a class="nava" href="./blog.html">BLOG</a></li>
                        <li  class="navli"><a class="nava" href="./contact.html">CONTACT</a></li>
                        <li class="basket">
                            <a class="basket-nav" href="#contact-section">
                              <span><i class="fas fa-shopping-basket basket "></i></span>
                            </a>
                          </li>
                    </ul></div>
                </nav>
    
            </div>
        </div>

    </header>