@using MyEndProjectCode.ViewModels.Account

@model ForgotPasswordVM
@{
    ViewData["Title"] = "ForgotPassWord";
    //Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}


<div class="container mt-5 mb-5">
    <div class="col-lg-12">
     
        <form asp-action="ForgotPassword" method="post" >
            <div class="login-form">
                
                <div class="row">
                    <div class="col-lg-6">

                        <label> Please Enter Email Address : </label>
                        <input class="tip" type="email" asp-for="Email" placeholder="Email Address" />
                        <span class="text-danger" asp-validation-for="Email"></span>
                    </div>
   
                    <div class="col-lg-12 pt-5">
                        <button type="submit" class="btn btn-custom-size lg-size btn-pronia-primary">
                           <span class="send">Send</span>
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>

</div>


