<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,800;0,900;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/309530d72c.js" crossorigin="anonymous"></script>

    <!-- CSS only -->
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="~/assets/css/font-awesome.min.css" />
    <link rel="stylesheet" type="text/css" href="css/slick.css" />
    <link rel="stylesheet" type="text/css" href="css/slick-theme.css" />
    <link rel="stylesheet" href="~/css/style.css">
    <link rel="stylesheet" href="~/assets/css/style.css">


    <title>Home</title>
</head>
<header>
    <div class="main">


        <div class="tophead">
            <div class="wrappertophead">
                <a class="mail sosials" href=""><i style="margin-right: 5px;" class="bi bi-envelope foot-icon"></i><span class="mt">shaigak@code.edu.az</span></a>
                <a class="tel sosials" href="#"><i class="bi bi-telephone-fill foot-icon"></i><span class="mt">+994508009988</span></a>
            </div>

         
           <span class="user">@User.Identity.Name</span> 
           
            <div class="sosial">
                @if (User.Identity.IsAuthenticated)
                {

                    <form asp-controller="Account" asp-action="Logout" method="post">
                       <button type="submit">Logout</button>
                    </form>
                   
                  
                       
                   

                }
                else
                {
                    <a class="sosials" asp-controller="Account" asp-action="Login" class="p-2 pl-0"><span class="login">LOG IN</span></a>
                    <a class="sosials" asp-controller="Account" asp-action="Register" class="p-2 pl-0"><span class="login">SIGN UP</span></a>

                }

                @*    <a class="sosials" asp-controller="Account" asp-action="Login" class="p-2 pl-0"><span class="login">LOG IN</span></a>
                <a class="sosials"asp-controller="Account" asp-action="Register" class="p-2 pl-0"><span class="login">SIGN UP</span></a>*@
                <a class="sosials" href="#"><i class="fa-brands fa-square-twitter"></i></a></a>
                <a class="sosials" href="#"><i class="fa-brands fa-square-facebook"></i></a>
                <a class="sosials" href="#"><i class="fa-brands fa-linkedin"></i></a>
                <a class="sosials" href="#"><i class="fa-brands fa-instagram"></i></a></a>


            </div>
        </div>

        <div class="menu-wrap">
            <input type="checkbox" class="toggler">
            <div class="hamburger"><div></div></div>
            <div class="menu">
                <div>
                    <div>
                        <ul>
                            <li><a href="./index.html">Home</a></li>
                            <li><a href="./about.html">About</a></li>

                            <li><a href="./shop.html">Shop</a></li>
                            <li><a href="./blog.html">Blog</a></li>
                            <li><a href="./contact.html">Contact</a></li>

                            <li><a href="login.html">Login</a>/<a href="register.html">Sign up</a></li>
                            <li class="basket">
                                <a class="basket-nav" asp-controller="Cart" asp-action="Index">
                                    <span><i class="fas fa-shopping-basket basket "></i></span>
                                </a>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="wrapper">
            <nav class="nav">
                <div class="logo"><a asp-controller="Home" asp-action="Index"><img src="~/assets//images/logo (1).png" alt=""></a> </div>
                <div class="navdiv">
                    <ul class="navul">
                        <li class="navli"><a class="nava" asp-controller="Home" asp-action="Index">HOME</a></li>
                        <li class="navli"><a class="nava" asp-controller="About" asp-action="Index">ABOUT</a></li>
                        <li class="navli"><a class="nava" asp-controller="Shop" asp-action="Index">SHOP</a></li>
                        <li class="navli"><a class="nava" asp-controller="Blog" asp-action="Index">BLOG</a></li>
                        <li class="navli"><a class="nava" asp-controller="Contact" asp-action="Index">CONTACT</a></li>
                        <li>
                            <a href="#exampleModal"
                               class="search-btn bt"
                               data-bs-toggle="modal"
                               data-bs-target="#exampleModal">
                                <i class="fa-solid mainsearch fa-magnifying-glass"> </i>

                            </a>
                        </li>

                        <div class="modal fade"
                             id="exampleModal"
                             tabindex="-1"
                             aria-labelledby="exampleModal"
                             aria-hidden="true">
                            <div class="modal-dialog modal-fullscreen">
                                <div class="modal-content modal-bg-dark">
                                    <div class="modal-header">
                                        <button type="button"
                                                class="btn-close"
                                                data-bs-dismiss="modal"
                                                aria-label="Close"
                                                data-tippy="Close"
                                                data-tippy-inertia="true"
                                                data-tippy-animation="shift-away"
                                                data-tippy-delay="50"
                                                data-tippy-arrow="true"
                                                data-tippy-theme="sharpborder"></button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="modal-search">
                                            <span class="searchbox-info">
                                                Start typing and press Enter to search or ESC to
                                                close
                                            </span>
                                            <form action="#" class="hm-searchbox">
                                                <input class="input-search"
                                                       type="text"
                                                       name="Search..."
                                                       value="Search..."
                                                       onblur="if(this.value==''){this.value='Search...'}"
                                                       onfocus="if(this.value=='Search...'){this.value=''}"
                                                       autocomplete="off" />
                                                <button class="search-btn"
                                                        type="submit"
                                                        aria-label="searchbtn">
                                                    <i class="pe-7s-search "></i>
                                                </button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <li class="basket">
                            <a class="basket-nav" asp-controller="Cart" asp-action="Index">
                                <span><i class="fas fa-shopping-basket basket bask "></i></span>
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>

        </div>
    </div>

</header>
@RenderBody()



<footer data-aos="fade-up">
    <div class="foot">
        <div class=" foot-row">
            <div class="">
                <div class="ft-logo">
                    <a href="#"><img src="~/assets//images//footer-logo.png" alt="ZOOY - Modern &amp; Beautiful Auto Parts HTML5 &amp; Bootstrap 4 Template"></a>
                </div>
                <div class="cmn-detail">
                    <p><i class="bi bi-geo-alt-fill foot-icon"></i> Bakı şəhəri • Binəqədi rayonu • 7-ci mikrorayon qəsəbəsi • Dərnəgül metrosu</p>
                    <p><i class="bi bi-envelope foot-icon"></i><a class="foot-a" href="mailto:support@zooy.com">shaigak@code.edu.az</a></p>
                    <p><i class="bi bi-telephone-fill foot-icon"></i><a class="foot-a" href="tel:+0789123456">050-800-99-88</a></p>
                    <p><i class="bi bi-clock foot-icon"></i>Mon. - Sat.<br>10:00 am - 20:00 pm</p>
                </div>
            </div>

            <div class="fotdu">
                <div class="">
                    <div class="ftr-widget information">
                        <h3 class="widget-tit">Information</h3>
                        <ul style="padding-left: 0;" class="mb-0">
                            <li><a class="a2-foot" href="#">Shipping Policy</a></li>
                            <li><a class="a2-foot" href="#">Compensation First</a></li>
                            <li><a class="a2-foot" href="#">My Account</a></li>
                            <li><a class="a2-foot" href="#">Return Policy</a></li>
                            <li><a class="a2-foot" href="#">Check Outs</a></li>
                            <li><a class="a2-foot" href="#">Customer Feedback</a></li>
                        </ul>
                    </div>
                </div>
                <div class="">
                    <div class="ftr-widget custom-service">
                        <h3 class="widget-tit">Custom Service</h3>
                        <ul style="padding-left: 0;" class="mb-0">
                            <li><a class="a2-foot" href="#">Tems &amp; conditions</a></li>
                            <li><a class="a2-foot" href="#">Payment Methods</a></li>
                            <li><a class="a2-foot" href="#">Shipping &amp; returns</a></li>
                            <li><a class="a2-foot" href="#">Locations We Ship To</a></li>
                            <li><a class="a2-foot" href="#">Estimated Delivery Time</a></li>
                            <li><a class="a2-foot" href="#">Help Center</a></li>
                        </ul>
                    </div>
                </div>
                <div class="">
                    <div class="ftr-widget contactus">
                        <h3 class="widget-tit">CONTACT US</h3>
                        <ul style="padding-left: 0;" class="mb-0">
                            <li><a class="a2-foot" href="#">About Us</a></li>
                            <li><a class="a2-foot" href="#">Contact Us</a></li>
                            <li><a class="a2-foot" href="#">Privacy Policy</a></li>
                            <li><a class="a2-foot" href="#">Site Map</a></li>
                            <li><a class="a2-foot" href="#">Tems &amp; conditions</a></li>
                            <li><a class="a2-foot" href="#">Faqs</a></li>
                        </ul>
                    </div>
                </div>

            </div>

        </div>
</footer>


<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js" integrity="wsha512-3gJwYpMe3QewGELv8k/BX9vcqhryRdzRMxVfq6ngyWXwo03GFEzjsUm8Q7RZcHPHksttq7/GFoxjCVUjkjvPdw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
<script>
    AOS.init();
</script>


<script type="text/javascript" src="js/slick.min.js"></script>
<script src="https://kit.fontawesome.com/020cd902c8.js" crossorigin="anonymous"></script>
<script src="~/assets/js/main.js"></script>
<script src="~/assets/js/script.js"></script>
<script src="js/main.js"></script>
@await RenderSectionAsync("Scripts", required: false)
</html>